.rmfwd { 
  font-size: 36px;
  padding-top: 64px;
  padding-left: 86px;
  padding-top: 94px;
  font-size: 26px;
  border-top-width: 34px;
  padding-left: 99px;
  padding-bottom: 61px;
  margin-left: 58px;
  margin-right: 17px;
}
