.rmfwd { 
  font-size: 36px;
  padding-top: 64px;
  padding-left: 86px;
  padding-top: 94px;
  font-size: 26px;
  border-top-width: 34px;
  padding-left: 99px;
  padding-bottom: 61px;
  margin-left: 58px;
  padding-left: 90px;
  margin-right: 5px;
  border-bottom-width: 26px;
  padding-bottom: 69px;
  border-right-width: 47px;
  font-size: 61px;
  padding-left: 25px;
  padding-left: 25px;
  margin-top: 55px;
  padding-bottom: 64px;
  padding-bottom: 28px;
  border-top-width: 24px;
  line-height: 25px;
  margin-left: 96px;
  margin-left: 77px;
  margin-top: 87px;
  padding-left: 61px;
  margin-right: 23px;
  margin-bottom: 55px;
}
